# Source reflekt from the local repo to pick up local changes while developing
# source /Users/gclunies/Repos/reflekt/.venv/bin/activate
# unset PS1

# poetry
source ./.venv/bin/activate
unset PS1

# conda
# source activate reflekt-jaffle-shop
